{% extends 'base.html' %}


{% block my_block %}


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Distillery</th>
      <th scope="col">Edition</th>
      <th scope="col">Description</th>
      <th scope="col">Taste plot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% set count = [] %}
        {% for whisky in user_whisky_history %}
        {% set __ = count.append(1) %}
      <th scope="row">{{ count|length }}</th>
      <td>{{ whisky.distillery }}</td>
      <td>{{ whisky.edition }}</td>
      <td>{{ whisky.description }}</td>
      <td><button type="button" class="btn btn-primary" onclick="location.href='/statistics'"></button></td>
    </tr>
    {%endfor%}
</table>
{% endblock %}

