{% extends 'base.html' %}

{% block title %}
Tasting
{% endblock %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <style>
        h1, h2, h3, h4, h5, h6 {
        font-family: 'Redressed', cursive;
    }
    p, div {
        font-family: 'Redressed', cursive;
    }
        form,label, p {
            color: white !important;
        }

    </style>
{% endblock %}

{% block image %}
<body style="background: linear-gradient(100deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 70%) no-repeat center top ,
    url('static/wheel.jpg') 0 0 /cover ;">
{% endblock %}

{% block my_block %}

    <form action="" method="post" name="simple" enctype="multipart/form-data" role="form">
        {{ form.hidden_tag() }}

        {{ form.distillery.label(class="form-label") }}
        {{ form.distillery(class="form-control-sm") }}
        <br>
        {{ form.edition.label(class="form-label") }}
        {{ form.edition(class="form-control-sm") }}
        <br>
        {{ form.color.label(class="form-label") }}
        {{ form.color(class="form-control-sm") }}
        <br>
        {{ form.smokey.label(class="form-label") }}
        {{ form.smokey(class="form-control-sm") }}
        <br>
        {{ form.peaty.label(class="form-label") }}
        {{ form.peaty(class="form-control-sm") }}
        <br>
        {{ form.spicy.label(class="form-label") }}
        {{ form.spicy(class="form-control-sm") }}
        <br>
        {{ form.sweet.label(class="form-label") }}
        {{ form.sweet(class="form-control-sm") }}
        <br>
        {{ form.fresh_fruit.label(class="form-label") }}
        {{ form.fresh_fruit(class="form-control-sm") }}
        <br>
        {{ form.dried_fruit.label(class="form-label") }}
        {{ form.dried_fruit(class="form-control-sm") }}
        <br>
        {{ form.red_fruit.label(class="form-label") }}
        {{ form.red_fruit(class="form-control-sm") }}
        <br>
        {{ form.feinty.label(class="form-label") }}
        {{ form.feinty(class="form-control-sm") }}
        <br>
        {{ form.floral.label(class="form-label") }}
        {{ form.floral(class="form-control-sm") }}
        <br>
        {{ form.winey.label(class="form-label") }}
        {{ form.winey(class="form-control-sm") }}
        <br>
        {{ form.oak.label(class="form-label") }}
        {{ form.oak(class="form-control-sm") }}
        <br>
        {{ form.cereal.label(class="form-label") }}
        {{ form.cereal(class="form-control-sm") }}
        <br>
        {{ form.chocolate.label(class="form-label") }}
        {{ form.chocolate(class="form-control-sm") }}
        <br>
        {{ form.finish.label(class="form-label") }}
        {{ form.finish(class="form-control-sm") }}
        <br>
        {{ form.image.fileName }}
        {{ form.image(class="form-control-sm") }}
        <br>
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control-sm") }}
        <br>
            {{ form.submit(class="btn btn-secondary") }}


    </form>

{% endblock %}